<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= form.label :title, class: "control-label" %>
    <div class="controls">
      <%= form.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label :body, class: "control-label" %>
    <div class="controls">
      <%= form.text_area :body %>
    </div>
  </div> 

  <div class="control-group">
    hellow<%= order.category_id %>
    <%= form.label "Category", class: "control-label" %>
    <div class="controls">
      <%= form.select(:category_id, options_for_select(@selection_options, form.object.category_id || default_value)) %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label "Estimated Hours", class: "control-label" %>
    <div class="controls">
      <%= form.text_field :estimate %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
