<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @order.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @order.category.title %>
</p>

<p>
  <strong>Estimated Time (hrs):</strong>
  <%= @order.estimate %>
</p>

<% if @order.user_id == current_user.id %>
  <%= link_to 'Edit', edit_order_path(@order) %> |
<% else %>
  <div id="clickable">Interested in this order?</div>
<% end %>
<%= link_to 'Back', orders_path %>
<br><br>
<div id="hide" class="hidden">I am hidden</div>
<%= javascript_pack_tag 'parlay.js' %>
