<!DOCTYPE html>
<html>
  <head>
    <title>Workforeachother</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <%= link_to "About Us", welcome_about_path %>
    <%= link_to "Contact", welcome_contact_path %>
    <% if current_user %>
      <%= link_to 'Orders', orders_path %>
      <%= link_to 'Deposits', deposits_path %>
    <% end %>
    <% if current_user %>
      <% if current_user.admin %>
        <%= link_to "Admin", welcome_admin_path %>
      <% end %>
    <% end %>
    <%= link_to "Settings", welcome_login_path %>
    <%= yield %>
  </body>
</html>
